body 
{
    background-color: black;
    color: white;
    font-family: Arial;
}

h1
{
    color: grey;
    font-family: Verdana;
}

.maindiv
{
    background-color: white;
    color: black;
    width: 500px;
    padding: 20px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.contents
{
    margin-left: 80px;
    padding-bottom: 10px;
}



#compute
{
    margin-top: 5px;
    margin-bottom: 8px;
   
}

#principal{
  margin-left: 36px;

}

#rate {
    margin-left: -0.10pc;
    width: 150px;
    margin-top: 10px;
}

#years {
    margin-left: 4px;
    margin-top: 10px;
    margin-bottom: 10px;  
}

#footer
{
    margin-left: 80px;
}



.highlight
{
    background-color: #ffff00;
}



